<app-banner [title]="'teams'"></app-banner>
  
<div class="container">
    

    <div class="row">
      <div class="col-lg-12 " *ngFor="let t of teams">
        
        <div class="d-flex justify-content-center  team-vs mt-3">
      
          <div class="team-2 w-50" >
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3>{{t.name}} </h3>
              <ul class="list-unstyled">
                <li *ngFor="let p of t.players">{{p.name}}</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
