<app-banner [title]="'Filter Player'"></app-banner>

<div class="container site-section">
    <form #filterForm="ngForm" (ngSubmit)="filterPlayer()">
        <div class="row">
            <div class="col-4 ">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="filter.gte" [ngModelOptions]="{standalone: true}" placeholder="Team Two">
                </div>
            </div>
            <div class="col-4 ">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="filter.lte" [ngModelOptions]="{standalone: true}" placeholder="Team Two">
                </div>
            </div>
            <div class="col-4 ">
              <button type="submit"  class="btn btn-danger">FILTER</button>
            </div>
          </div>
    </form>
   
    <div class="row">
      <div class="col-lg-6" *ngFor="let p of players">
        <div class="custom-media d-flex">
          <div class="img mr-4">
            <img [src]="p.image" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <span class="meta">{{p.name}}</span>
            <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
            <p><a href="#">Read more</a></p>
          </div>
        </div>
      </div>
 
    </div>
  </div>