<app-banner [title]="'Matches'"></app-banner>

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Team One">
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-lg-12" *ngFor="let m of matches | myFilter:term ">
        <app-match [match]="m" (newPass)="deleteMatch($event)" ></app-match>
      </div>
    </div>
  </div>
</div>
