<app-banner [title]="'add player'"></app-banner>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form #addPlayerForm="ngForm" (ngSubmit)="addEditPlayer()">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="player.name"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="player.number"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Number"
            />
          </div>

          <div class="form-group">
            <select
              class="form-control"
              [(ngModel)]="player.post"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="">Select Post</option>
              <option value="CK">CK</option>
              <option value="AV">AV</option>
            </select>
          </div>

          <div class="form-group">
            <select
              class="form-control"
              [(ngModel)]="player.teamId"
              [ngModelOptions]="{ standalone: true }"
            >
              <option *ngFor="let t of teams" [value]="t._id">
                {{ t.name }}
              </option>
            </select>
          </div>

          <div>
            <button
              type="button"
              (click)="filePicker.click()"
              class="btn btn-success"
            >
              Sélectionner image
            </button>
            <div class="form-group">
              <input
                style="visibility: hidden"
                type="file"
                class="form-control"
                #filePicker
                (change)="onImageSelected($event)"
              />
            </div>
            <img [src]="imagePreview" />
          </div>

          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Add Team"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
