

<app-banner [title]="team.name" [desc]="team.description"></app-banner>

<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our Players</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" *ngFor="let p of team.players">
        <div class="custom-media d-flex">
          <div class="img mr-4">
            <img [src]="p.image" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <span class="meta">{{p.name}}</span>
            <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
            <p><a href="#">Read more</a></p>
          </div>
        </div>
      </div>
 
    </div>
  </div>